@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

.app {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    position: absolute;
    top:0;
    left: 0;
}

.signup-form {
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.mdc-textfield {
    margin-bottom: 1em;
}

.mdc-textfield__input {
    width: 100%;
}

.fade-appear {
    margin-top: 30px;
    opacity: .01;
}

.fade-appear.fade-appear-active {
    margin-top: 0px;
    opacity: 1;
    transition: opacity .5s ease, margin .5s ease;
}

.fade-leave {
    margin-top: 0px;
    opacity: 1;
}

.fade-leave.fade-leav-active {
    margin-top: -30px;
    opacity: .01;
    transition: opacity .3s ease, margin .5s ease;
}
