body {
    background-image: url('./dojo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    overflow: hidden;
}
